body, html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
}

.sidebar {
    background-color: #a7f3d0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    padding: 25px;
    text-align: left;
}

.menu {
    grid-row: 2 / 3;
}

.settings {
    grid-row: 3 / 4;
}

.menuitem {
    display: flex;
    align-items: center;
}

.logo {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.logoimg {
    grid-row: 1 / 2;
    height: 75px;
    width: 75px;
}

.name {
    align-items: center;
}

.menu > ul > li {
    grid-column: 2 / 3;
}

.profile {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    margin-right: 10px;
    
}

.profileli {
    padding: 10px;
    width: 30px;
    height: 30px;
}

.searchimage > img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header {
    display: grid;
    background-color: #f0fdf4;
    grid-column: 2 / 3;
    grid-template-columns: 3fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 20px;
}

.input {
    border-radius: 12px;
    grid-column: 2 / 3;
    width: 100%;
}

.message {
    padding-left: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.welcome {
    width: 50px;
    padding-right: 10px;
}

.input > input {
    width: 70%;
    border-radius: 12px;
    padding: 5px;
}

.menuitem > img {
    width: 25px;
    height: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.announcement > p, .trending > p
{
    text-transform: uppercase;
    font-weight: bold;
}

.header > .action {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 10px;
}

button {
    border-radius: 25px;
    background-color: beige;
    margin: 10px;
}

.projects {
    background-color: #6ee7b7;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
}

.left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-right: 20px;
    margin-right: 10px;
}

.card > .title {
    font-weight: bold;
}

.card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}


.content {
    background-color: #f0fdf4;
    padding: 10px;
    border-radius: 12px;
}

a {
    text-decoration: underline;
    color: black;
}